/dataset
/dataset_test

commands.txt
run_docker.bat

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.run.xml
/outputs
**/*/__pycache__
.vscode/
.DS_Store
uploads/
